{% load i18n %}
<div class="menu-full">
    <div class="logo">
        <a href="/">
            <img class="img-logo" src="/static/image/Logo-viette2l.png">
        </a>
    </div>
    <div id="menu">
        <ul>
            <li><a href="/product-watch/">Đồng hồ kiddy</a></li>
            <li><a href="#">Phụ kiện kiddy</a>
                <ul class="sub-menu">
                    <li><a href="#">Sim Kiddy</a></li>
                    <li><a href="#">Sạc và dây đeo</a></li>
                    <li><a href="#">Xem tất cả phụ kiện kiddy</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="hotline">
         <img class="img-logo" src="/static/image/hotline_kiddy-01.png">
    </div>
</div>