{% extends "index_templates.html" %}
{% block css%}
<link rel="stylesheet" type="text/css" href="/static/css/style_product.css"/>
{%endblock%}
{% block script%}
<script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
<script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
{%endblock%}

{% block content%}
<div class="slileshow">
    <div class="slideshow-container">
        {%if slide%}
        {% for x in slide %}
        <div class="mySlides fade" id="autumn">
            <img src="{{x.direct}}" style="width:100%">
        </div>
        {% endfor %}
        {% else %}
        {% endif %}
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
</div>
<script type="text/javascript">

var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 5000); // Change image every 2 seconds
}

</script>

<div class="content_left">
    <amp-youtube
            data-videoid="Ad63uGr9qvc"
            layout="responsive"
            width="480" height="270"></amp-youtube>
    <amp-youtube
            data-videoid="opR0yD1YkIU"
            layout="responsive"
            width="480" height="270"></amp-youtube>
    <amp-youtube
            data-videoid="kP9edtiwxVA"
            layout="responsive"
            width="480" height="270"></amp-youtube>
</div>
<div class="content_center">
    <div class="row_content_1">
        <h2>ĐỒNG HỒ THÔNG MINH</h2>
        {%if product%}
        {% for x in product %}
        <div class="w3-quarter">

            <a href="{% url 'product-watch-detail' id=x.objectid %}">
                <amp-img src="{{x.photo.direct}}"
                         width="200"
                         height="200"
                         layout="responsive"
                         alt="AMP"></amp-img>
            </a>


            <h4><a href="{% url 'product-watch-detail' id=x.objectid %}">{{x.title}}</a></h4>
            <div class="item-bottom">
                <p class="price">
                    <span class="price-new">{{x.price_sale}}</span><br/>
                    <span class="price-old">{{x.price}}</span>
                </p>
                <a href="{% url 'product-watch-detail' id=x.objectid %}">
                    <button>Mua ngay</button>
                </a>

            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>Chưa có sản phẩm nào.</p>
        {% endif %}
    </div>
    <div class="row_content_2">
        <h2>PHỤ KIỆN NỔI BẬT</h2>
        {%if access%}
        {% for x in access %}
        <div class="w3-quarter">
            <a href="{% url 'product-watch-detail' id=x.objectid %}">
                <amp-img src="{{x.photo.direct}}"
                         width="200"
                         height="200"
                         layout="responsive"
                         alt="AMP"></amp-img>
            </a>
            <h4><a href="{% url 'product-watch-detail' id=x.objectid %}">{{x.title}}</a></h4>
            <div class="item-bottom">
                <p class="price">
                    <span class="price-new">{{x.price_sale}}</span>
                </p>
                <a href="{% url 'product-watch-detail' id=x.objectid %}">
                    <button>Mua ngay</button>
                </a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>Chưa có sản phẩm nào.</p>
        {% endif %}
    </div>
</div>
{% endblock %}